export interface RegisterBody {
  // TODO: Add your registration fields
  // ex: email: string;
  // ex: password: string;
}

export interface LoginBody {
  // TODO: Add your login fields
  // ex: email: string;
  // ex: password: string;
}

export interface JwtPayload {
  // TODO: Add the fields you want to store in the token
  // These fields will be available in req.user after authentication
  // ex: id: string;
  // ex: email: string;
  // ex: role: string;
}
