import { Request, Response, NextFunction } from 'express';

export const {{.ControllerFunc}} = async (
  _: Request,
  res: Response,
  next: NextFunction
): Promise<void> => {
  try {
    // TODO: Extract parameter(s) from req.params
    // const { id } = req.params;

    // TODO: Implement DELETE logic

    res.status(204).send();
  } catch (error) {
    next(error);
  }
};
