export interface {{.RepositoryName}}RepositoryInterface {
  // TODO: Define {{.RepositoryName}} repository methods
  // ex: findById(id: string): Promise<{{.RepositoryName}} | null>;
  // ex: create(data: unknown): Promise<{{.RepositoryName}}>;
  // ex: update(id: string, data: unknown): Promise<{{.RepositoryName}}>;
  // ex: delete(id: string): Promise<void>;
}