import { HealthInterface } from '../../../entities/Health';

export class HealthOutputDto {
  readonly status: string;
  readonly dbStatus: string;

  constructor(response: HealthInterface) {
    this.status = response.status === 'up' ? 'OK' : 'KO';
    this.dbStatus = response.dbStatus === 'on' ? 'Connected' : 'Disconnected';
  }
}
