import { injectable } from 'tsyringe';
import { {{.RepositoryName}}RepositoryInterface } from '../../useCases/gateway/{{.InterfaceImportPath}}';

@injectable()
export class {{.RepositoryName}}Repository implements {{.RepositoryName}}RepositoryInterface {
  // TODO: Implement {{.RepositoryName}} repository methods
}
